@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Variablen */
:root {
    --font: 'Open Sans', sans-serif;
    --border: rgb(0, 250, 240) .5px solid;
    --borderRadius: 7px;
    --transitionDelay: 250ms;
    --textColor: rgb(0, 250, 240);
    --letterSpace: 1.2px;
}

/* Gesamte Webseite */
body {
    height: 100%;
    background-color: rgb(30, 50, 180);
    background-image: linear-gradient(320deg, rgb(30, 50, 180) 0%, rgb(20, 35, 20) 70%);
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Canvas als Spielfeld */
.snake-canvas {
    border: var(--border);
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
}

/* Canvas, wenn die Maus drüber ist und das Spiel gestaret ist */
.snake-canvas:hover.active {
    cursor: none;
}

/* Start- oder Stoppknopf */
.start-button {
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(60, 60, 60);
    font-size: 1rem;
    font-family: var(--font);
    letter-spacing: var(--letterSpace);
    text-decoration: underline;
    color: var(--textColor);
    border: var(--border);
    border-radius: var(--borderRadius);
    transition: var(--transitionDelay);
    cursor: pointer;
}

/* Start- oder Stoppkopf */
.start-button:hover {
    transition: var(--transitionDelay);
    font-family: var(--font);
    background-color: rgb(30, 30, 120);
}

/* Das Element wo die Liste mit Spielregeln Spielregeln drin ist */
.rules {
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    border: var(--border);
    border-radius: var(--borderRadius);
    background-color: rgb(80, 240, 200);
    background-image: linear-gradient(320deg, rgb(90, 180, 140) 0%, rgb(60, 60, 60) 70%);
}

/* Eine Liste mit alle Spielregeln */
.rule-list {
    list-style: decimal;
    letter-spacing: var(--letterSpace);
}

/* Eine einzelne Spielregel aus der Liste */
.single-rule {
    color: var(--textColor);
}

.settings {
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    border: var(--border);
    border-radius: var(--borderRadius);
    background-color: rgb(80, 240, 200);
    background-image: linear-gradient(320deg, rgb(90, 180, 140) 0%, rgb(60, 60, 60) 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setting-list {
    margin-top: 0rem;
    list-style: none;
}

.single-setting {
    margin-top: 5px;
}

.setting-button {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.setting-name {
    margin-top: 0.5rem;
    font-weight: 700;
    color: var(--textColor);
}

.input-field {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: none;
    border-radius: var(--borderRadius);
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(60, 60, 60);
    color: var(--textColor);
}

.setting-submit-button {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgb(60, 60, 60);
    font-size: 1rem;
    font-family: var(--font);
    letter-spacing: var(--letterSpace);
    text-decoration: underline;
    color: var(--textColor);
    border: var(--border);
    border-radius: var(--borderRadius);
    transition: var(--transitionDelay);
    cursor: pointer;
    margin-right: 1rem;
}

.setting-submit-button:hover {
    transition: var(--transitionDelay);
    font-family: var(--font);
    background-color: rgb(30, 30, 120);
}

.setting-reset-button {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgb(60, 60, 60);
    font-size: 1rem;
    font-family: var(--font);
    letter-spacing: var(--letterSpace);
    text-decoration: underline;
    color: var(--textColor);
    border: var(--border);
    border-radius: var(--borderRadius);
    transition: var(--transitionDelay);
    cursor: pointer;
    margin-left: 1rem;
}

.setting-reset-button:hover {
    transition: var(--transitionDelay);
    font-family: var(--font);
    background-color: rgb(30, 30, 120);
}

/* Die Überschrift */
.game-name {
    font-weight: 700;
    color: var(--textColor);
}

/* Das Logo vom Spiel */
.logo {
    margin-top: 1rem;
    background-color: #2b4162;
    background-image: linear-gradient(320deg, #2b4162 0%, #12100e 70%);
    border: var(--border);
    border-radius: var(--borderRadius);
}
