@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: linear-gradient(#269dff, #243dff) no-repeat !important;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

canvas {
    margin: 1rem 0 1.5rem 0;
    z-index: 10;
    background: linear-gradient(rgb(95, 5, 140), rgb(240, 5, 220)) no-repeat;
    border: #243966 1px solid;
    border-radius: 8px;
}

button {
    margin: 0 0 3.8rem 0;
    padding: 10px 10px 10px 10px;
    background-color: #243966;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    color: azure;
    border: azure 1px solid;
    border-radius: 8px;
    transition: 300ms;
}

button:hover {
    transition: 300ms;
    font-family: 'Roboto', sans-serif;
    color: black;
    border: black 1px solid;
}