@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body { /* Definiere den Hintergrund */
    height: 100%; /* Sage, dass der Hintergrund eine Höhe von 100% hat */
    background: linear-gradient(#243dff, #269dff) no-repeat; /* Setze den Farbverlauf vom Hintergrund und sage, dass er sich nicht wiederholen soll */
    font-family: 'Rubik Doodle Shadow', sans-serif; /* Setze die Schriftart und definiere eine andere, falls diese nicht geladen werden kann */
    display: flex; /* Setze die Objekt-Ausrichtung auf flex */
    flex-direction: column; /* Sage, dass alle Objekt untereinander angezeigt werden sollen */
    justify-content: center; /* Sage, dass alle Objekte auf der X Achse zentriert werden sollen */
    align-items: center; /* Sage, dass alle Objekte auf der Y Achse zentriert werden sollen */
}

.snake-canvas { /* Definiere das Objekt mit der Klasse ".snake-canvas" */
    margin: 1rem 0 1.5rem 0; /* Setze den Abstand zu anderen Objekten (Oben, Links, Unten, Rechts) */
    z-index: 10; /* Setze die Z Achse vom Objekt auf 10 */
    border: black .5px solid; /* Setze die Umrandung des Objekts auf eine solide, weiße, 1/2 Pixel dicke linie */
    border-radius: 5px; /* Sage, dass die Ecken 5px abgerunden sind */
}

.snake-canvas:hover {
    cursor: none;
}

.start-button { /* Definiere das Objekt mit der Klasse ".start-button" */
    padding: 1rem 1rem 1rem 1rem; /* Setze die Größe vom Objekt auf 10px in jede Richtung */
    background: antiquewhite; /* Setze die Hintergrundfabre auf "antiquewhite" */
    font-size: 1rem; /* Setze die Schriftgröße auf 10px */
    font-family: 'Rubik Doodle Shadow', sans-serif; /* Setze die Schriftart und definiere eine andere, falls diese nicht gelanden werden kann */
    letter-spacing: 1.5px; /* Setze die größte vom Leerzeichen auf 1.5px */
    text-decoration: underline; /* Unterstriche den Text */
    color: midnightblue; /* Setze die Schriftfarbe auf "midnightblue" */
    border: black .5px solid; /* Setze die Umrandung des Objekts auf eine solide, weiße, 1/2 Pixel dicke linie */
    border-radius: 5px; /* Sage, dass die Ecken 5px abgerundet sind */
    transition: 250ms; /* Setze die Animationszeit auf 250ms */
    cursor: pointer; /* Sage, dass der Mauszeiger wie ein aussehen soll, wie ein "Pointer" */
}

.start-button:hover { /* Definiere das Objekt mit der Klasse ".start-button", wenn die Maus über ihm ist */
    transition: 250ms; /* Seite die Animationszeit auf 250ms */
    font-family: 'Rubik Doodle Shadow', sans-serif; /* Setze die Schriftart und definiere eine andere, falls diese nicht geladen werden kann */
    color: antiquewhite; /* Setze die Schriftfarbe auf "antiquewhite" */
    background: midnightblue; /* Setze die Hintergrundfarbe auf "midnightblue" */
}

.rules { /* Definiere das Objekt mit der Klassen ".rules" */
    padding: 1rem 1rem 1rem 1rem; /* Setze die größe des Objekts auf 10px in jede Richtung */
    margin: 1rem 0 1rem 0; /* Setze den Abstand zu anderen Objekten (Oben, Link, Unten, Rechts) */
    border: black .5px solid; /* Setze die Umrandung des Objektes auf eine solide, weiße, 1/2 Pixel dicke linie */
    border-radius: 5px; /* Sage, dass die Ecken 5px abgerundet sind */
    color: antiquewhite; /* Setze die Schriftfarbe auf "antiquewhite" */
    background: linear-gradient(#36954f, #2c8042) no-repeat; /* Setze den Hintergrund auf einen Farbverlauf */
}

.rule-list { /* Definiere das Objekt mit der Klasse ".rule-list" */
    list-style: decimal; /* Setze den Still der Auflistung auf eine Nummerierung */
    letter-spacing: 1.5px; /* Setze die größe von Leerzeichen auf 1.5px */
}

.single-rule { /* Definiere das Objekt mit der Klasse ".single-rule" */
    color: black; /* Setze die Schriftfarbe auf Schwarz */
}

.name { /* Definiere das Objekt mit der Klasse ".name" */
    color: white; /* Setze die Schriftfarbe auf weiß */
}